 html, body {
  height: 80%!important;
  margin: 0;
  padding: 0;
  background-color: #ECFDFF;
  overflow-x: none!important;
  }

h3{
  color:#00BBAE;
}

#map {
  margin-top: 2em;
  width: 100%;
  min-height: 20em;
}


input{
  width: 90%!important;
  vertical-align: middle;
  padding-left: 1em!important;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
